<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'css/all_pages/styles.css' %}" rel="stylesheet"/>
</head>
<body>
{% load home_tags %}
<div class ="header">
    <h1>{{header}}</h1>
</div>
<div class = "content">
<ul>
        {% show_classes %}
</ul>
    <form action ="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <p><button type = "submit">Отправить</button></p>
    </form>
</div>
<div class ="sidebar"></div>
</body>
</html>