<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'css/all_pages/styles.css' %}" rel="stylesheet"/>
</head>
<body>
<div class = "header">
    <h1>{{header}}</h1>
</div>

<div class = "content">
    <form method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
        <p ><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <p ><button type="submit">Сохранить</button></p>
        <p ><a href="{% url 'users:password_change' %}">Сменить пароль</a></p>
    </form>
</div>
<div class ="sidebar"></div>
</body>
</html>