<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'css/all_pages/styles.css' %}" rel="stylesheet"/>
</head>
<body>
<div class="header">
    <h1>{{header}}</h1>
</div>
<div class="content">

<ul>
        {% for items in content %}
        <li>
               <p><a href="{{items.page_name}}/">{{items.animal}}</a></p>
               <p>{{items.content|truncatewords:50}}</p>
        </li>
        {% endfor %}
</ul>
    </div>
<div class="sidebar"></div>
</body>
</html>