<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'css/all_pages/styles.css' %}" rel="stylesheet"/>
</head>
<body>
<div class ="header">
    <h1>{{header|lower}}</h1>
</div>
<div class = "content">
<a href="addpage/" class="button">Добавить животного</a></p>
    <a href="editpage/" class="button">Редактировать животного</a></p>
    <a href="deletepage/" class="button">Удалить животного</a>
<ul>
        {% for items in data_inf %}
        <li>
               <p><a href="{{items.slug}}/">{{items.name}}</a></p>
        </li>
        {% endfor %}
</ul>
</div>
<div class="sidebar">
{% block load_tags %} {% endblock %}
</div>
</body>
</html>