<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        .sidebar {
            position:absolute;
            left:10px; top:50px; bottom:0;
            width: 200px;
        }
        .main {
            position:absolute;
            left:200px; top:0px; bottom:0;
        }
    </style>
</head>
<body>
<div class = "main">
    <h1>{{header|lower}}</h1>
<ul>
        {% for items in data_inf %}
        <li>
               <p><a href="{{items.slug}}/">{{items.name}}</a></p>
        </li>
        {% endfor %}
</ul>
</div>
<div class="sidebar">
{% block load_tags %} {% endblock %}
</div>
</body>
</html>